body {
    margin: 0px;
    padding: 0px;
    background-image: url("../IMG/resume_background.png");
    font-size: 16px; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #000;
}

.header_1 {
    float: left;
    width: 350px;
    text-align: center;
    margin: 40px 0px 0px 20px;
}

.profilepic {
    position: absolute;
    border: #fff solid 4px;
    background: url("../IMG/img_background.jpg"); 
    left: 10%;
    top: 40px;
}

.header_2 {
    position: relative;
    left: 33%;
    top: 32px;
}
 
.header_2 a {
    font-weight: normal;
}

h1	{
    margin: 0px 0px 0px 20px;
    font-size: 52px;
    font-weight: bold;
}
 
h3	{
    margin: 0px 0px 32px 20px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
} 

ul.icons_1  {
    list-style: none;
    margin: 0px 0px 0px -12px;
    font-size: 18px;
/*    position: relative;*/
}

#span1 {
	position: relative;
	bottom: 10px;
}

#span2 {
	position: relative;
	bottom: 10px;
}

#span3 {
	position: relative;
	bottom: 10px;
}

#span4 {
	position: relative;
	bottom: 10px;
}

#span5 {
	position: relative;
	bottom: 10px;
}

.icons {
	width: 30px;
	height: 30px;
}

span {
	margin-left: 10px;
	color: black;

}

a {
	text-decoration: none;
	color: black;
}

.icons_1 li:hover{

	background-color: rgba(255,255,255,0.5);
    position: relative;
    bottom: 10px;
    width: 650px;
}

.bus1  {
    margin: 0px;
    font-weight: bold;
    color: black;
}
 
.edu-info  {
    margin: 0px 0px 0px 40px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    list-style: none;
    margin: 0px 0px 10px 0px;
    width: 220px;
    font-size: 20px;
    top: 10px;
    position: relative;
}
}

.section1 {
	position: relative;
    list-style: none;
    margin: 0px 0px 10px 0px;
    width: 220px;
    font-size: 20px;
    top: 15px;
    position: relative;
}
 
#skills ul.list1    {   
    float: left;
    list-style: none;
    margin: 0px 0px 10px 0px;
    width: 220px;
    font-weight: bold;
    font-size: 20px;
    top: -10px;
    position: relative;
}

#skills li {
    background-position: 0px 2px;
    padding: 0px 0px 0px 25px;
    margin-bottom: 30px;
    position: relative;
}
 
.section2 {
    position: absolute;
    top: 150%;
}

.education {
    list-style: none;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    top: -10px;
    position: relative;
}

.profile {
	top: 200%;
	float: left;
	padding: 0px 0px 0px -40px;

}

.summary   {
    margin: -40px 0px 0px 30px;
}
 
